<div class="jumbotron">
    <h1><center>RoutineFinder</center></h1>
</div>
<p>Selection of inefficient routines often leads to demotivation as a result of
a lack of progress. Strength and hypertrophy exercise routines are well 
studied and many well regarded routines incorporate the results in order to
maximize their efficiencies.</p>

<p>This is a project that aims to help solve the issue of inefficient exercise
routine selection by using decision tree classifiers to pick an exercise routine
most suited to an individual's circumstances and goals.</p>

<center><button type="button" class="btn" ng-click="goToClassification()">Get Routine</button> </center>
