<!-- Collapse navbar on click, takes up too much screen real estate on mobile devices -->
<script>
$(document).ready(function () {
    $("nav").find("li").on("click", "a", function () {
        $('.navbar-collapse.in').collapse('hide');
    });
});
</script>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/">RoutineFinder</a>
        </div>
        <div id="myNavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="/recommend">Get routine</a></li>
                <li><a ng-href="/my-account" ng-show='loggedIn'>My account</a></li>
                <li><a ng-href="/routines">Routines</a></li>
                <li><a ng-href="/progress" ng-show='loggedIn'>Progress</a></li>
                <li><a ng-href="/login" ng-hide='loggedIn'>Login</a></li>
                <li><a ng-href="/login" ng-show='loggedIn'>Logout</a></li>
                <li><a ng-href="/register" ng-hide='loggedIn'>Register</a></li>
            </ul>
        </div>
    </div>
</nav>