<div class="jumbotron">
   <h1><center>Routines</center></h1>
</div>

<div ng-if="success" class="alert alert-success">
    <strong>Routine changed</strong>
</div>

<div ng-repeat="routine in routines">
    <div class="col-sm-6 col-md-4">
       <a href="/routines/{{routine.id}}" id="nounderline"><div class="thumbnail" id="box">
            <div class="caption">
                <h3>{{routine.name}}</h3>
                <p>Days per week: {{routine.days_per_week}}</p>
                <p>Estimated session length: {{routine.session_length}} minutes</p>
                <p ng-if="routine.routine_type == 0">Routine type: Strength</p>
                <p ng-if="routine.routine_type == 1">Routine type: Hypertrophy</p>
                <p><a href="/routines/{{routine.id}}" class="btn btn-primary" role="button">More info</a>
                    <a href="#" ng-if="loggedIn" ng-click="changeRoutine(routine.id)" class="btn btn-default" role="button">Make primary routine</a></p>
            </div>
        </div>
       </a>
    </div>
</div>

</div> <!-- End row -->


